
#header1{ background-image:url(../images/main-bg.jpg); background-size:cover; position:relative; min-height:500px}

#footer{ background-color:#CCCCCC; color:#000000}

#footer a{ color:#000; text-decoration:none; margin:0px 20px 0px 20px}


form {
  background: white;
}

label {
  margin-bottom: .5rem;
  text-align: right;
  display: block;
  letter-spacing: 2px;
  color: #adb5bd;
  text-transform: uppercase;
}

.form-control {
  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}

.form-control:active,
.form-control:focus,
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: black;
}

.form-control.valid {
  border-color: green;
}

.form-control.invalid {
  border-color: red;
}

.form-control + small {
  color: red;
  opacity: 0;
  height: 0;
  transition: opacity .4s ease-out;
}

.form-control.invalid + small {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
  transition: opacity .4s ease-out;
}

.btn {
  border: 2px solid black;
  padding: 0.375rem 2.75rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 0;
}

.btn:hover {
  color: white;
  background: black;
  transition: all .4s ease-out;
}
 .form-control {  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}
    .form-control1 {  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}
.form-control1 {border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}
    .form-control11 {border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}
.form-control11 {border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color .4s ease-out;
  border-radius: 0;
}
 .blogpreview-img-size {
    max-width: 270px;
    max-height: 270px; float:left; padding-top:5px; padding-right:20px; padding-bottom:20px;
  }
  
  .blogpreview-img-td-width{
  min-width:270px;
  padding-right:10px}
  
  .text-left { text-align:left}
  .text-top { text-align:top}